<div class="frame">
  <div class="pallete">
    <canvas id="canvas" width="800" height="600"></canvas>

    <%= form_tag({:action => :create}, {:remote => true}) do %>
      <%= submit_tag "Save" %>
    <% end %>

    <button type="button" id="clear-button">Clear</button>
    <button type="button" id="undo-button">Undo</button>
  </div>
</div>

<ul class="pictures">
  <% @pictures.each do |picture| %>
    <li class="picture frame">
      <%= link_to picture do %>
        <%= tag("img", :src => picture.data, :width => 200) %>
      <% end %>
      <%= link_to " Copy", "#", :class => "copy-button" %>
    </li>
  <% end %>
</ul>
